<section
  class="hero-section text-white"
  [ngStyle]="backgroundStyle"
  role="banner"
  aria-label="Marketplace Hero Section"
>
  <div class="container px-3 px-md-5">
    <div class="row justify-content-start">
      <div class="col-lg-8 text-start">
        <!-- Title -->
        <!-- <h1 class="mb-3">{{ title }}</h1> -->

        <!-- Subtitle -->
        <!-- <p class="lead">{{ subtitle }}</p> -->

        <!-- Buttons -->
        <!-- <div class="d-flex flex-wrap gap-3 hero-buttons">
          <a routerLink="/catalogs" class="btn btn-primary me-3 mb-2">
            Shop Now
          </a>
          <a routerLink="/suppliers" class="btn btn-outline mb-2">
            Become a Supplier
          </a>
        </div> -->
      </div>
    </div>
  </div>
</section>
