
<div  class="container mt-5">

<div class="product-list">
  <h2>Products</h2>

  <div *ngIf="loading">Loading products...</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <div *ngIf="products.length === 0 && !loading">No products available.</div>

  <div class="products-grid" *ngIf="products.length > 0">
    <div class="product-card" *ngFor="let product of products">
      <img *ngIf="product.imagePath" [src]="product.imagePath" alt="{{ product.name }}" />
      <h3>{{ product.name }}</h3>
      <p>SKU: {{ product.sku }}</p>
      <p>Price: ₹{{ product.finalPrice | number:'1.2-2' }}</p>
      <p>Stock: {{ product.stockQuantity }}</p>
      <p *ngIf="product.color">
        Color: <span [style.background]="product.colorHexCode" class="color-box"></span> {{ product.color }}
      </p>
      <p *ngIf="product.fabricType">Fabric: {{ product.fabricType }}</p>
      <p *ngIf="product.pattern">Pattern: {{ product.pattern }}</p>
    </div>
  </div>

  <!-- Pagination -->
  <div class="pagination" *ngIf="totalProducts > pageSize">
    <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
    <span>Page {{ page }} of {{ getTotalPages() }}</span>
    <button (click)="nextPage()" [disabled]="page === getTotalPages()">Next</button>
  </div>
</div>
</div>
