<section class="fabric-carousel-section py-4">
  <div class="container-fluid">
    <!-- Heading -->
    <h2 class="fabric-carousel-title mb-4">Available Fabrics</h2>

    <!-- Auto-scroll row -->
    <div class="auto-row" aria-label="Fabric names auto scroll">
      <div class="track">
        <!-- 1st copy -->
        <div class="fabric-item" *ngFor="let r of filtered()">
          <!-- Image box -->
          <div class="fabric-box"  [routerLink]="['/fabric']">

            <img src="assets/images/aa.jpeg" alt="Fabric Image" class="fabric-img" />
          </div>
          <!-- Name below (outside box) -->
          <div class="fabric-name">
            {{ r.faB_NAME }}
          </div>

        </div>

        <!-- 2nd copy for seamless loop -->
        <div class="fabric-item" *ngFor="let r of filtered()" >
          <div class="fabric-box" [routerLink]="['/fabric']">
            <img src="assets/images/aa.jpeg" alt="Fabric Image" class="fabric-img" />
          </div>
          <div class="fabric-name">
            {{ r.faB_NAME }}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
