   body {
        background-color: #f8fafc;
        font-family: Inter, "Noto Sans", sans-serif;
      }

      .bg-cover {
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
      }

      .rounded-lg {
        border-radius: 0.5rem;
      }

      .form-select:focus {
        box-shadow: none;
        border-color: #cedae8;
      }

      .btn-primary {
        background-color: #0d78f2;
        border-color: #0d78f2;
      }

      .btn-outline-light {
        background-color: #e7edf4;
        border: none;
        color: #0d141c;
      }

      .rating-bar {
        height: 8px;
        background-color: #cedae8;
        border-radius: 1rem;
        overflow: hidden;
      }

      .rating-bar-fill {
        height: 100%;
        background-color: #0d78f2;
      }

      .star {
        color: #0d78f2;
        width: 18px;
        height: 18px;
      }

      .star-outline {
        color: #0d78f2;
        width: 18px;
        height: 18px;
        fill: none;
      }