<!-- HOME COMPONENT -->

<div class="container-fluid home mt-5">

  <!-- ===========================
      HERO SECTION
  ============================ -->
  <section class="mb-5">
    <app-hero-section></app-hero-section>
  </section>

    <!-- ===========================
      Fabric CATEGORY HIGHLIGHTS SECTION
  ============================ -->
  <section class="mb-5">
    <app-fabric-categories></app-fabric-categories>
  </section>


      <!-- ===========================
      Fabric SUBCATEGORY HIGHLIGHTS SECTION
  ============================ -->
  <section class="mb-5">
    <app-fabric-subcategories></app-fabric-subcategories>
  </section>


  <!-- ===========================
      CATEGORY HIGHLIGHTS SECTION
  ============================ -->
  <section class="mb-5">
    <app-autoscroll-category></app-autoscroll-category>
  </section>

  <!-- ===========================
      Autoscroll PRODUCTS SECTION 1
  ============================ -->
  <section class="mb-5">
    <app-autoscroll-products></app-autoscroll-products>
  </section>

  <!-- ===========================
      FEATURED PRODUCTS SECTION 1
  ============================ -->
  <section class="mb-5">
    <app-feature-products></app-feature-products>
  </section>

  <!-- ===========================
      SUPPLIER HIGHLIGHTS SECTION
  ============================ -->
  <!-- <section class="mb-5">
    <app-top-suppliers></app-top-suppliers>
  </section> -->

  <!-- ===========================
      SPECIAL DEALS / OFFERS SECTION
  ============================ -->
  <!-- <section class="mb-5">
    <app-special-deals></app-special-deals>
  </section> -->

  <!-- ===========================
      WHY CHOOSE US SECTION
  ============================ -->
  <section class="mb-5">
    <app-why-choose></app-why-choose>
  </section>

  <!-- ===========================
      STATS / USERS TRUST SECTION
  ============================ -->
  <section class="mb-5">
    <app-trusted-by-users></app-trusted-by-users>
  </section>

  <!-- ===========================
      TRUSTED BRANDS SECTION
  ============================ -->
  <section class="mb-5">
    <app-trusted-by-brands></app-trusted-by-brands>
  </section>

  <!-- ===========================
      TESTIMONIALS SECTION
  ============================ -->
  <!-- <section class="mb-5">
    <app-testimonials></app-testimonials>
  </section> -->

  <!-- ===========================
      BLOG / KNOWLEDGE CENTER
  ============================ -->
  <!-- <section class="mb-5">
    <app-latest-articles></app-latest-articles>
  </section> -->

  <!-- ===========================
      NEWSLETTER SIGNUP
  ============================ -->
  <!-- <section class="mb-5">
    <app-newsletter></app-newsletter>
  </section> -->

</div>
