.card:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
  border-color: rgba(5, 207, 164, 0.3);
}

i.bi {
  transition: transform 0.3s;
}

.card:hover i.bi {
  transform: scale(1.2);
}
